In [ ]:
a=type('Hello World')
b=type("Hello World")
c=type('''Hello World''')
d=type(123)
e=type(23.4)
f=type(True)
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
10
-88
1220202

1220202

In [ ]:
D="Hello World"
print(D)
B="Sanketh"
print(B)
P="Python_Programming"
print(P)
Sentence="Hello, how are you?Welcome to the world of Python programming.It is just beggining.Let us move on to the next topic"
print(Sentence)
p='''Hello World'''
print(p)

Hello World
Sanketh
Python_Programming
Hello, how are you?Welcome to the world of Python programming.It is just beggining.Let us move on to the next topic
Hello World

In [ ]:
a=str(12.50)
print(a)
b=type(str(12.5))
print(b)

12.5
<class 'str'>

In [ ]:
print('Hello welcome to Python Programming')
print(10000)
print('Display string Demo')

Hello welcome to Python Programming
10000
Display string Demo

In [ ]:
print("The flight attendant asked,May I see your boarding  pass")
print("The flight attendant asked, \'May I see your boarding  pass\'")
print("The flight attendant asked,\" May I see your boarding  pass\"")
print("The flight attendant asked,\t May I see your boarding  pass")
print("The flight attendant asked, \n May I see your boarding  pass")
print("The flight attendant asked, \b May I see your boarding  pass")

The flight attendant asked,May I see your boarding  pass
The flight attendant asked, 'May I see your boarding  pass'
The flight attendant asked," May I see your boarding  pass"
The flight attendant asked,	 May I see your boarding  pass
The flight attendant asked,
 May I see your boarding  pass
The flight attendant asked,  May I see your boarding  pass

In [ ]:

##
z=1
radius=5
R=radius+z
print(R)
##
e=(5+10*(10+5))
print(e)

6
155

In [ ]:
25+25

50

In [ ]:
25*25

625

In [ ]:
350-652

-302

In [ ]:
360/12

30.0

In [ ]:
print("Hello\nWorld\nGood bye")
print("Hello\tWorld\tGood bye")

Hello
World
Good bye
Hello	World	Good bye

In [ ]:
print('Hello',end=' ')
print('world',end=' ')
print('Good bye',end=' ')

Hello world Good bye

In [ ]:
length=25
breadth=25
print("The area of rectangle is",length*breadth)

The area of rectangle is 625

In [ ]:
Str1=input('Enter String1: ')
Str2=input('Enter String2: ')
print('String1= ',Str1)
print('String2= ',Str2)

In [ ]:
print("PLease Enter the number")
X=(input())
print("Enter the number is ",X)
print(type(X))

PLease Enter the number
25
Enter the number is  25
<class 'int'>

In [ ]:
print("Please Enter Number ")
Num1=input()
print("Num1=",Num1)
print(type(Num1))
print("Converting type of Num1 to int")
Num1=int(Num1)
print(Num1)
print(type(Num1))

Please Enter Number
25
Num1= 25
<class 'str'>
Converting type of Num1 to int
25
<class 'int'>

In [ ]:
#write a program to display the details entered by the user
Name=input("Enter the name")
Age=int(input("Enter the age"))
Gender=input("Enter the gender");
Height=eval(input("Enter the height "))
print("Name is ",Name)
print("Age is ",Age)
print("Gender is ",Gender)
print("Height is",Height)

Enter the nameSANKETH
Enter the age18
Enter the genderMale
Enter the height 5.5
Name is  SANKETH
Age is  18
Gender is  Male
Height is 5.5

In [ ]:
#Program to find the Profit
"""The selling price must be greater than cost of the product"""
Cost=eval(input ("Enter the cost of the product"))#Read the cost of the of the product 
Selling_price=eval(input("Enter the Selling price of the Product" ))#read the selling price of the product
print("The profit gained on the product is ",Selling_price-Cost)#compute the profit the product

Enter the cost of the product350
Enter the Selling price of the Product550
The profit gained on the product is  200

In [ ]:
#Write  program to find the square and cube of a number.
n=eval(input("Enter the number"))
Square=n*n
Cube=n*n*n
Square_of_the_number=("The square of the enterd number is ",Square)
print(Square_of_the_number)
Cube_of_the_number=("The square of the enterd number is ",Cube)
print(Cube_of_the_number)

Enter the number6
('The square of the enterd number is ', 36)
('The square of the enterd number is ', 216)

In [ ]:
#write a program to find the Simple_Interest
P=float(input("Enter the total lended loan amount"))
r=float(input("Enter the rate of the interset percentage"))
t=float(input("Enter the time period of the loan amount in years "))
Simple_Interset=(P*t*r)
print("The Simple Interest for the lended amount is",Simple_Interset)

Enter the total lended loan amount25000
Enter the rate of the interset percentage5
Enter the time period of the loan amount in years 5
The Simple Interest for the lended amount is 625000.0

In [ ]:
#Write a program to find the area and perimeter of a rectangle
length=float(input("Enter the length of the rectangle"))
breadth=float(input("Enter the breadth of the rectangle"))
Area=length*breadth
print("The area of gthe rectangle is ",Area)
perimeter=((2*length)+(2*breadth))
print("The perimeter  of the rectangle is",perimeter)

Enter the length of the rectangle2
Enter the breadth of the rectangle2
The area of gthe rectangle is  4.0
The perimeter  of the rectangle is 8.0

In [ ]:
#Write a program to read the weight of an object in grams and display its weight in kilograms and grams
W=float(input("Enter the Weight of an object"))
Wkg=W/1000
Wg=W%1000
print("Weight of the object=",int(Wkg),"kg and",float(Wg),"g")

Enter the Weight of an object436676
Weight of the object= 436 kg and 676.0 g

In [ ]:
#Write the program to find the speed  of a car in meter per second
Distance=eval(input("Enter the distance travelled by the car in meters"))
Time=eval(input("Enter the time taken by the car to travel the distance in seconds"))
Speed=Distance/Time
print("Speed of the car in meter per second is",Speed)

Enter the distance travelled by the car in meters30
Enter the time taken by the car to travel the distance in seconds2.3
Speed of the car in meter per second is 13.043478260869566

In [ ]:
# Write a program to read a temperature from user and convert it from CELCIUS to FAHRENITE
C=float(input("Enter the temperature in celcius"))
F=C*(9/5)+32
print("The temperature in Fahrenheit",F)

Enter the temperature in celcius35.66
The temperature in Fahrenheit 96.188

In [ ]:
#Write a program to read a temperature from user and convert it from FAHRENITE to CELCIUS
F=float(input("Enter the temperature in  Fahrenheit "))
C=(F-32)*(5/9)
print("The temperature in CELCIUS",C)

Enter the temperature in  Fahrenheit 25.665
The temperature in CELCIUS -3.5194444444444453

In [ ]:
#write a program to find the diatnce between two points
X1=float(input ("Enter X1 coordinate"))
Y1=float(input ("Enter Y1 coordinate"))
X2=float(input("enter X2 coordinate"))
Y2=float(input("Enter Y2 coordinate"))
Distance=(((X2-X1)**2)+((Y2-Y1)**2))**0.5
print("The distance betwen the entered the points is",Distance)

Enter X1 coordinate23
Enter Y1 coordinate23
enter X2 coordinate23
Enter Y2 coordinate23
The distance betwen the entered the points is 0.0

In [ ]:
N=eval(input("Enter the three digit number"))
a=N//100
b=(N%100)//10
c=N%10
Sum=a+b+c
print("The sum of the inputed three digit number is ",Sum)

Enter the three digit number211
The sum of the inputed three digit number is  4

In [ ]:
#write a program to find the total amount drawn by a user in an ATM
HUNDRED=eval(input("Enter the number of 100 rupees currency notes required"))
FIVE_HUNDRED=eval(input("Enter the number of 500 hundred rupees currency notes required"))
THOUSAND=eval(input("Enter the number of 1000 rupees currency notes required"))
Total_Amount=((HUNDRED*100)+(FIVE_HUNDRED*500)+(THOUSAND*1000))
print("The total amount drawn by the User from the ATM is",Total_Amount)

Enter the number of 100 rupees currency notes required5
Enter the number of 500 hundred rupees currency notes required2
Enter the number of 1000 rupees currency notes required4
The total amount drawn by the User from the ATM is 5500