 List

In [ ]:
#List Syntax
L1=list()

In [ ]:
#Write a program to display the set of values
L2=list([10,20,30])
L2

In [ ]:
#Write a to display the list of values
L3=list(["Apple","Banana","Grapes"])
L3

['Apple', 'Banana', 'Grapes']

In [ ]:
#Write a program to display list using a range function
L4=list(range(0,6))
L4

[0, 1, 2, 3, 4, 5]

In [ ]:
#Write a to display the list of values
L33=list([1.1,2.1,3.1,4.1])
print(L33)

[1.1, 2.1, 3.1, 4.1]

In [ ]:
#Write a display to print the the strings seperately
L5=list("XYZ")
print(L5)

['X', 'Y', 'Z']

In [ ]:
L6=[10,20,30]
L6

[10, 20, 30]

In [ ]:
L7=["Apple","Banana","Grapes"]
L8=[12.9,13.9,14.9]
L9=(["Sanjay",20.22,1,"Male"])
print(L7)
print(L8)
print(L9)

['Apple', 'Banana', 'Grapes']
[12.9, 13.9, 14.9]
['Sanjay', 20.22, 1, 'Male']

In [ ]:
#Write aprogram to print thr particular value of List
L1=([10,20,30,40])
print(L1[0])
print(L1[3])

10
40

In [ ]:
#Write aprogram to print thr particular value of List
L1=([10,20,30,40])
print(L1[8])

IndexError: ignored

In [ ]:
#Write aprogram to print thr particular value of List
List1=[10,20,30,40,50,60]
print(List1[-1])
print(List1[-3])

60
40

In [ ]:
#Write a program to print a set of values at a time
List1=[10,20,30,40,50,60]
List1[1:4]

[20, 30, 40]

In [ ]:
#Assign the list to a new set of list
L1=["Hello",1,"Monkey",2,"Dog",3,"Donkey"]
New_L1=L1[0:6:2]
print(New_L1)

['Hello', 'Monkey', 'Dog']

In [ ]:
L2=["Python",450,"c",300,"c++",670]
L2[0:6:3]

['Python', 300]

In [ ]:
L3=[1,2,3,4]
L3[:2]

[1, 2]

In [ ]:
L4=[1,2,3,4,5,6,7,8,9]
L4[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
L4=[1,2,3,4,5,6,7,8,9]
L4[::-3]

[9, 6, 3]

In [ ]:
#Length Function
Fun_L1=["Red","Orange","Pink"]
len(Fun_L1)

3

In [ ]:
#Write a program to find the min and max positions from the list
Fun_L2=[10,20,30,40,50]
len(Fun_L2)
min(Fun_L2)
max(Fun_L2)

50

In [ ]:
#Import Random Function
Fun_L2=[10,20,30,40,50]
import random
random.shuffle(Fun_L2)
print(Fun_L2)
sum(Fun_L2)

[50, 30, 20, 10, 40]

150

ARTHIMETIC OPERATIONS ON LIST

In [ ]:
# '+' OPERATOR
a=[1,2,3]
print(a)
b=[4,5,6]
print(b)
a+b

[1, 2, 3]
[4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# '*' OPERATOR
L1=[10,20,30]
print(L1)
L2=2*L1
print(L2)
L3=4*L1
L3

[10, 20, 30]
[10, 20, 30, 10, 20, 30]

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
# 'in' OPERATOR
L3=[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]
print(40 in L3)
20 in L3

False

True

In [ ]:
# '=' OPEERATOR
A=['A','B','C']
B=['A','B','C']
A is B

False

In [ ]:
A="Microsoft"
B="Microsoft"
A is B

True

In [ ]:
# DELETE OPERATION
L1=[10,20,30,40,50,60,70,80,90]
del(L1[3])
L1

[10, 20, 30, 50, 60, 70, 80, 90]

In [ ]:
L1=[10,20,30,40,50,60,70,80,90]
del(L1[-2])
print(L1)

[10, 20, 30, 40, 50, 60, 70, 90]

In [ ]:
# 'append ' OPERATION
L1=['x','y','z']
L1
L1.append('A')
L1

['x', 'y', 'z', 'A']

In [ ]:
# 'CLEAR" OPERATION
L2=["Red","Blue","Pink"]
print(L2)
L2.clear()
L2

['Red', 'Blue', 'Pink']

[]

In [ ]:
# 'COUNT' OPERATION
L2=['A','B','A','B']
print(L2)
L2.count('A')

['A', 'B', 'A', 'B']

2

In [ ]:
# 'COPY' OPERATION
L4=["Red","Blue","Pink"]
print(L4)
L5=L4.copy()
L5

['Red', 'Blue', 'Pink']

['Red', 'Blue', 'Pink']

In [ ]:
# 'EXTEND' OPERATION
L5=[1,2,3]
L6=[4,5,6]
L5
L6
L5.extend(L6)
print(L5)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 'INDEX' OPERATION
L6=['A','B','C','D','A']
L6
L6.index('B')

1

In [ ]:
# 'INSERT & POP' OPERATION
L7=[10,20,30,40,50]
L7
L7.insert(4,60)
print(L7)
L7.pop()
L7

[10, 20, 30, 40, 60, 50]

[10, 20, 30, 40, 60]

In [ ]:
# 'REMOVE & REVERSE ' OPERATION
L9=['A','B','C','D','E']
print(L9)
L9.remove('B')
print(L9)
L9.reverse()
print(L9)

['A', 'B', 'C', 'D', 'E']
['A', 'C', 'D', 'E']
['E', 'D', 'C', 'A']

In [ ]:
# 'tuple' Function
tuple=(10,20,30,40)
print(tuple)
tuple[0]

(10, 20, 30, 40)

10

In [ ]:
# Length operation in tuple
tuple=("Apple","Banana","Grapes")
len(tuple)

3

In [ ]:
# MAX,MIN,SUM and COUNT OPERTION IN TUPLE
tuple1=(1,2,3,4,5,6)
print("Max element in tuple is ",max(tuple1))
print("Min element in tuple is ",min(tuple1))
print("Sum element in tuple is ",sum(tuple1))
print("Count element in tuple is ",tuple1.count(3))
print("First occurance of value and returns its position is ",tuple1.index(2))

Max element in tuple is  6
Min element in tuple is  1
Sum element in tuple is  21
Count element in tuple is  1
First occurance of value and returns its position is  1

DICTIONARIES

In [ ]:
D1={}
type(D1)

dict

In [ ]:
D2={"amit":"123456789","Amol":"987654321"}
D2

{'Amol': '987654321', 'amit': '123456789'}

In [ ]:
car={"brand":"Ford","model":"mustang","year":1999}
print(car)
x=car.keys()
car["color"]="White"
print(x)
y=car.values()
car['year']=2010
print(y)

{'brand': 'Ford', 'model': 'mustang', 'year': 1999}
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'mustang', 2010, 'White'])

In [ ]:
q=car.clear()
print(car)

{}

In [ ]:
q=car.get("Price",10000)
print(q)

10000