In [ ]:
#write a program to print the numbers from one to five using while loop
a=0
while a<=5:
  print("count=",a)
  a=a+1

count= 0
count= 1
count= 2
count= 3
count= 4
count= 5

In [ ]:
#Write a program to find the sum of first 10 consecutive numbers using While loop 
count=0
sum=0
while count<=10:
  sum=sum+count
  count=count+1
print("Sum of the first 10 numbers is ",sum)

Sum of the first 10 numbers is  55

In [ ]:
#Write a program to find the sum of the digits of a given number
n=eval(input("Enter the number "))
x=n
sum=0
digit=0
while(n>0):
    rem=n%10
    n=n//10
    sum=sum+rem
print("Sum of digits in the entered number is ",sum)

Enter the number 123456789
Sum of digits in the entered number is  45

In [ ]:
#Write a program to print the reverse of the input number
num=eval(input("Enter the number"))
x=num
rev=0
while num>0:
  rem=num%10
  num=num//10
  rev=rev*10+rem
print("The reverse of the number",x,"is",rev)

Enter the number123456
The reverse of the number 123456 is 654321

In [ ]:
#Write a program, to find the factorial of a number using while loop condition
num=int(input("Enter the number"))
fact=1
ans=1
while fact<=num:
  ans=ans*fact
  fact=fact+1
print("Factorial of",num,"is",ans)

Enter the number5
Factorial of 5 is 120

In [ ]:
#Write a program to check whether the input number is amstrong number or not
num=int(input("Enter the number"))
sum=0
x=num
while num>0:
  d=num%10
  num=num//10
  sum=sum+(d*d*d)
if(sum==x):
  print("The number",num,"is an Amstrong Number")
else:
  print("The number",x,"is not an Amstrong Number")

Enter the number123
The number 123 is not an Amstrong Number

In [ ]:
#RANGE
a=range(6)
print("the range of 6 is ",a)
b=range(5,0,-2)
print("the range of 6 is ",b)
c=range(-4,4,2)
print("the range of 6 is ",c)
d=range(9,-7,2)
print("the range of 6 is ",d)
e=range(0,6)
print("the range of 6 is ",a)

the range of 6 is  range(0, 6)
the range of 6 is  range(5, 0, -2)
the range of 6 is  range(-4, 4, 2)
the range of 6 is  range(9, -7, 2)
the range of 6 is  range(0, 6)

In [ ]:
#Write a program to print 1 to 5 using for loop
for i in range(1,6):
  print(i)
print("End of the program")

1
2
3
4
5
End of the program

In [ ]:
#Write a program to print 1 to 10 in reverse order 
for i in range(10,0,-1):
  print(i)
print("End of the program")

10
9
8
7
6
5
4
3
2
1
End of the program

In [ ]:
#Write a program to calculate the square of numbers from 1 to 6
for i in range(1,6):
  square=i*i
print("Square of",i,"is",square)

Square of 5 is 25

In [ ]:
#Write a program to print the even numbers from 0 to 10
sum=0
print("Even numbers from 0 to 10 are as follows ")
for i in range(0,11,1):
  if i%2==0:
    print(i)
    sum=sum+i
print("Sum of even numbers from 0 to 10 is",sum)

Even numbers from 0 to 10 are as follows
0
2
4
6
8
10
Sum of even numbers from 0 to 10 is 30

In [ ]:
#Write a program to add the numbers from 1 to 20 which are not divisible by 2,3 and 5
sum=0
print("Numbers from 1 to 20 which are not divisible by 2 ,3 and 5 are as follows")
for i in range(1,20):
  if i%2==0 or i%3==0 or i%5==0:
    continue
  else:
    print(i)
    sum=(sum+i)
print("Sum of numbers from 1 to 20 is " ,sum)

Numbers from 1 to 20 which are not divisible by 2 ,3 and 5 are as follows
1
7
11
13
17
19
Sum of numbers from 1 to 20 is  68

In [ ]:
#Write a program to print the FIBONACCI NUMBERS to be printed using for loop
First_Num=0
Second_Num=1
Limit=int(input("Number of fibonacci numbers to be printed:"))
print(First_Num,end =" ")
print(Second_Num,end =" ")
for i in range(Limit+1):
  sum=First_Num+Second_Num
  First_Num=Second_Num
  Second_Num=sum
  print(sum,end=" ")

Number of fibonacci numbers to be printed:10
0 1 1 2 3 5 8 13 21 34 55 89 144

In [ ]:
#Write a program to generate a triangular number
num=int(input("Enter the number"))
tri_num=0
for i in range(num,0,-1):
  tri_num=tri_num+i
print("Triangular Number of",num,"is",tri_num)

Enter the number25
Triangular Number of 25 is 325

In [ ]:
#Wirte a program to display multiplication tables from 1 to 5
print("Multiplication Tbale from 1 to 5")
for i in range(1,11,1):
  for j in range(1,6,1):
    print(format(i*j,"4d"),end=" ")
  print()

Multiplication Tbale from 1 to 5
   1    2    3    4    5
   2    4    6    8   10
   3    6    9   12   15
   4    8   12   16   20
   5   10   15   20   25
   6   12   18   24   30
   7   14   21   28   35
   8   16   24   32   40
   9   18   27   36   45
  10   20   30   40   50

In [ ]:
#Write a program to display the multiplication table of the input number
n=int(input("Enter the number of the multiplicataion table "))
for i in range(1,11,1):
   print(format(n*i,"4d"),end=" ")
   print()

Enter the number of the multiplicataion table 121
 121
 242
 363
 484
 605
 726
 847
 968
1089
1210

In [ ]:
#Write a program to print the stars as follow
x=num
for i in range(7,0,-1):
  for j in range(0,i,1):
    print("*",end=" ")
  print()

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Write a program to print the stars as follow in reverse order
x=int(input("Enter the number of sequential stars to be printed"))
for i in range(x,0,-1):
  for j in range(0,i,1):
    print("*",end=" ")
  print()

Enter the number of sequential stars to be printed15
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Write a program to print the stars as follow in straigt order
x=num
for i in range(1,6,1):
  for j in range(0,i,1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Write a program to print the numbers from 1 to 5
x=num
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#Write a program to print the numbers from 1 to 5 agin from 4 to 1
x=num
for i in range(1,6,1):
  for j in range(1,i,1):
    print(j,end=" ")
  print()
for i in range(5,0,-1):
  for j in range(1,i+1,1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#Write a program to check whether the number is prime or not using break statement 
n=int(input("Enter the number"))
x=n
flag=1
for i in range(2,num):
  if n%i==0:
    flag=0
    break
if flag==1:
    print(n,"is a prime number")
else:
    print(n,"is not a prime number")

Enter the number89
89 is a prime number

In [ ]:
#Write a program to remove the space between the strings in the sentence
a=str(input("Please enter the string"))
print("Entered String is :",a)
print("After removing spaces, the string becomes:")
for i in a:
  if i==" ":
    continue
  print(i,end="")

Please enter the stringI Love Python
Entered String is : I Love Python
After removing spaces, the string becomes:
ILovePython